html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding-top: 60px;
    max-width: 100%;
    overflow-x: hidden;
}

@font-face{
    font-family: MyFont;
    src: url('MyFont/BodoniFLF-Bold.ttf');
}

#navbar {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left:0;
    background-color: #FFFFFF;
    z-index: 2;

}

#navbar ul{
    /* margin: 0; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-right: 10px; */
 
}

#navbar ul li{
    display: inline-block;
    text-align: center;
    width: 140px;
}

a{
    text-decoration: none;
    color: #AAAEB5;
    font-family: MyFont;
    font-size: 20px;
}

a:hover{
    color: #4D4F52;
}

#home{
    background-color: #F8F8F8;
    height: 700px;
    /* height: 85vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home_left{
    margin-top:180px;
    margin-right: -50px;
    z-index: 1;
}

.home_right_img{
    background: url("IMG/Home/IMG01.jpg") center / cover;
    height: 600px; 
    width: 400px;
    /* height: 75vh; 
    width: 25vw; */

}

.home_right_order{
    width: 100%;
    height: 9px;   
    display: flex;
    justify-content: center;    
}

.home_right_bar{
    width: 10%;
    height: 9px;
    background: #E7DDDE;
    border-radius: 50px;
    margin-right: 2%;
}

#about{
    height: 600px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img_play{
    background-color: blue;
    height: 800px;
    width: 800px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_person{
    height: 400px;
    width: 300px;
    margin-left: 5%;
    z-index: 1;
}

.about_right{
    font-family: MyFont;
    width: 30%;

}

.about_right pre{
    font-family: MyFont;
    font-size: 20px;
}

#skill{
    background-color: #F8F8F8;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skill_icon{
    height: 50px;
    width: 50px;
}


#portfolio{
    height: 700px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gallery{
    height: 560px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-template-rows: repeat(8, 50px);
    grid-gap: 3%;

}

.gallery_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
    /* z-index: -1; */
}


.gallery_overlay{
    height: 100%;
    width: 100%;
    color:#FFFFFF;
    font-family: MyFont;
    background: rgba(57, 73, 81, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.gallery_img:hover .gallery_overlay{
    background: rgba(0, 0, 0, 0);
    color: transparent;
}

.img_asia{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.img_london{
    grid-column: 2 / 3;
    grid-row:1 / 3;
}
.img_italy{
    grid-column: 3 / 4;
    grid-row: 1 / 6;
}

.img_america{
    grid-column: 1 / 2;
    grid-row: 5 / 9;
}

.img_france{
    grid-column: 2 / 3;
    grid-row: 3 / 6;
}

.img_others{
    grid-column: 2 / 4;
    grid-row: 6 / 9; 
}

#contact{
    background-color: #F8F8F8;
    height: 700px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#contact_form{
    font-family: MyFont;
    height: 700px;
    width:80vw;
    align-items: center;

}

.contact_bar{
    width: 250px;
    height: 6px;
    background-color: #E7DDDE;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact .name{
    height: 40px;
    font-family: MyFont;
    font-weight: normal;
    font-size: 20px;
}

.contact .email{
    grid-column: 1 / 3;
    height: 40px;
    font-family: MyFont;
    font-weight: normal;
    font-size: 20px;
}

.contact .message{
    grid-column: 1 / 3;
    font-family: MyFont;
    font-weight: normal;
    font-size: 20px;
    resize: none;
}


::placeholder{
    color: #AAAEB5;
}


#footer{
    height: 150px;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#social_media{
    height: 60px;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social_media_icon{
    height: 50px;
    width: 50px;
}


.button{
    background-color: #0E615D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    padding: 0;
    font-size: 20px;
    font-family: MyFont;
    border: none;
    outline: none;

}

.button:hover{
    background-color: #0A413F;
}

.contact_button{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
